@charset "utf-8";

html, body {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fffee7;
}

.container {
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.error-box {
    background-color: #ac3b3b;
    padding: 5px 10px;
}

.error-text {
    color: #fffee7;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}

.full-width-small-padding {
    padding: 5px 5px;
    width: 100%;
}

.match-box {
    margin: 20px 0;
}

.main-button {
    color: #026802;
    background: #fffee7;
    font-size:1.1em;
    padding: 5px 25px;
}

.main-button-small {
    color: #026802;
    background: #fffee7;
    font-size: 1.1em;
    padding: 2px 10px;
}

.main-button:hover, .main-button:focus{
    background-color : #ffffff;
}

#main-wrapper {
    border-top-width: 35px;
    border-bottom-width: 10px;
    padding-top: 5em;
}

.no-padding {
    margin: 0;
    padding: 0;
}

.no-bullets {
    list-style-type: none;
}

.no-bullets li {
    padding: 10px 0;
}

.rounded-box {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #27ae60;
    border-radius: 3px;
    padding: 20px;
}

.text-like-link {
    text-decoration: none;
}

/*******************************************************
                Messaging
*******************************************************/

.message-box-current-user {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #66ae44;
    border-radius: 3px;
    float: right;
    margin-bottom: 20px;
    max-width: 80%;
    padding: 5px 10px;
}

.message-box-other-user {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #06842f;
    border-radius: 3px;
    float: left;
    margin-bottom: 20px;
    max-width: 80%;
    padding: 5px 10px;
}

.messaging-scrolling {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.messaging-textarea {
    max-width: 95%;
    resize: none;
    width: 95%;
}

.outerMessageBox {
    overflow: auto;
    width: 100%;
}

.sendMessageSeparator {
    margin: 0 10px;
}

/*******************************************************
                Profile/ Settings
*******************************************************/

.profile-container {
    width: 100%;
}

.profile-content {
    margin-left: 15%;
    overflow: hidden;
}

.profile-nav {
    float: left;
    width: 15%;
    overflow: hidden;
    padding-right: 15px;
}

.profile-nav ul {
    margin: 0;
    padding: 0;
}

.profile-nav ul li {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    margin: 0 0.5em;
    text-align: left;
}

.profile-nav ul li a {
    color: #fffee7;
    display: block;
    padding: 0 0.5em;
    text-decoration: none;
}

.profile-nav li:hover a,
.profile-nav li.active a {
    background-color: #026802;
}

.profile-nav-nonlink {
    background-color: #026802;
    color: #fffee7;
    display: block;
    padding: 0 0.5em;
    text-decoration: none;
}

.profile-nav-selected {
    color: #fffee7;
    padding: 0 0.5em;
    background-color: #026802;
    width: 50%;
}

/*******************************************************
                Registration
*******************************************************/

.reg-filler {
    padding: 1em 0;
}

.reg-textarea {
    max-width: 100%;
}

.reg-help {
    font-size: 0.9em;
    margin: 0;
}

.reg-input {
    margin-top: 10px;
}

.reg-label {
    font-weight: bold;
}

.reg-rule {
    padding: 0.5em 0;
}

/*******************************************************
                Header and Navigation
*******************************************************/

#header {
    background: #27ae60;
    height: 4em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#header .logo {
    display: inline-block;
    height: 4em;
    line-height: 4em;
    position: absolute;
    text-align: center;
    top: 0;
}

#header .logo a {
    color: #fffee7;
    display: block;
    text-decoration: none;
}

#nav {
    color: #27ae60;
    height: 4em;
    position: absolute;
    top: 0;
    vertical-align: text-bottom;
}

#nav ul {
    margin: 0;
}

#nav ul li {
    display: inline-block;
    height: 4em;
    line-height: 4em;
    margin: 0 0.5em;
    text-align: center;
}

#nav ul li a {
    color: #fffee7;
    display: block;
    padding: 0 0.5em;
    text-decoration: none;
}

#nav li:hover a,
#nav li:hover span,
#nav li.active a,
#nav li.active span {
    background-color: #026802;
}

.nav-right {
    float: right;
}
