@(implicit request: play.api.mvc.RequestHeader)

<header id="header">
  <div class="container">
    <nav id="nav" class="container">
      <div class="logo">
        <h1 class="no-padding"><a href="@routes.Application.index()">Twindr</a></h1>
      </div>

      <ul class="nav-right">
        @if(AuthAction.isAuthenticated(request) && request.uri != routes.Login.register().url) {
            @if(request.uri != routes.Application.matchesFeed().url) {
                <li><a href="@routes.Application.matchesFeed()">Potential Matches</a></li>
            } else {
                <li class="profile-nav-nonlink">Potential Matches</li>
            }
            @if(request.uri != routes.MatchingController.matchedUserFeed().url) {
                <li><a href="@routes.MatchingController.matchedUserFeed()">Matches</a></li>
            } else {
                <li class="profile-nav-nonlink">Matches</li>
            }
            @if(request.uri != routes.Profile.settings().url) {
                <li><a href="@routes.Profile.settings()">Settings</a></li>
            } else {
                <li class="profile-nav-nonlink">Settings</li>
            }
          <li><a href="@routes.Login.logout()">Logout</a></li>
        }
      </ul>
    </nav>
  </div>
</header>
