@(implicit request: play.api.mvc.RequestHeader, userTwitterName: String)
@main("Twindr") {

    <div id="main" class="rounded-box">
        <h2>Welcome to Twindr!</h2>
        <br/>
        <br/>
        <p class="splashMain">
            The matchmaking service that cares about you, not your looks!
            <br/>
            <br/>
            Find interesting people in your area.
            <br/>
            <br/>
            <br/>
            <br/>
            <a id='loginButton' href="@routes.TwitterProvider.authenticate()"><img src="@routes.Assets.at("images/sign-in-with-twitter-gray.png")" /></a>
        </p>
    </div>

    <script src="@routes.Assets.at("javascripts/geolocation.js")" type="text/javascript"></script>
}
