@(matches: List[business.domain.PreparedMatch])(implicit request: play.api.mvc.RequestHeader)

@main("Twindr - Matchmaking") {

    <div id="main" class="rounded-box">
        <p>
            Your matches will appear in the list below once a user you elected to match with has matched with you as well.
        </p>
    </div>

    <div id="match" class="rounded-box match-box">
        @if(matches.nonEmpty) {
            <ul id="match-list" class="no-bullets">
            @for(mat <- matches) {
                <li id="match-user-@mat.username"><p>@mat.username<span class="float-right"><a class='main-button-small text-like-link'
                    href='#' onclick="unmatch('@mat.username')">Unmatch</a></span></p></li>
            }
            </ul>
        } else {
            <p>We have no matches for you at this time.</p>
        }
    </div>

    <script src="@routes.Assets.at("javascripts/match.js")" type="text/javascript"></script>

}
