@(senderTwitterName: String, recipient: String, matchID: String)(implicit request: play.api.mvc.RequestHeader)

@main("Twindr - Messaging") {

    <script type="text/javascript" src='@routes.Assets.at("javascripts/eventsource.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/messaging.js")'></script>
    <script type="text/javascript">
        var messageFeed = new EventSource('@routes.MessagingController.receiveMessage(matchID).url');
        var messageHandler = function(event) {
            var message = JSON.parse(event.data);

            var newMessage = document.createElement("div");
            newMessage.className = "full-width outerMessageBox";

            if(message.sender == '@senderTwitterName') {
                newMessage.innerHTML = "<span class='message-box-current-user'><p>" + message.message + "</p></span>";
            } else {
                newMessage.innerHTML = "<span class='message-box-other-user'><p>" + message.message + "</p></span>";
            }

            document.getElementById("messageFeed").appendChild(newMessage);
        };

        messageFeed.addEventListener('message', messageHandler);

        function doResize() {
            var height = $(window).height() - $('#header').height() - $('#sendMessage').height() - 150;
            if(height < $(window).height() * 0.2)
            height = $(window).height() * 0.2;

            $('#messageFeed').height(height);
        }

        window.addEventListener('resize', function() { doResize(); });
        $(window).ready(function() { doResize(); });
    </script>

    <div id="main" class="rounded-box">
        <div id="chatName">
            <p>You're chatting with @recipient:</p>
        </div>
        <div id="messageFeed" class="messaging-scrolling">

        </div>

        <div id="sendMessage" class="full-width-small-padding">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><textarea id="messageBox" rows="4" class="messaging-textarea" placeholder="Type a message here"></textarea></td>
                    <td width="5%"><a id="sendMessageBtn" class="main-button-small float-left text-like-link" onclick="sendMessage('@matchID', '@senderTwitterName')" href="#">Send</a></td>
                </tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('messageBox').addEventListener('keypress', function(event) {
            if(event.keyCode == 13 && !event.shiftKey) {
                event.preventDefault();
                document.getElementById('sendMessageBtn').click();
            }
        });
    </script>
}
