@(registrationForm: Form[business.domain.Registration])(implicit request: play.api.mvc.RequestHeader, userTwitterName: String)

@import helper._
@import views.utility.DateHelper

@main("Twindr - Account Registration", DateHelper.includeJQueryDateTime) {

  <div id="reg-main" class="rounded-box">

      <p>
          It looks like you're new here!<br/>
          <br/>
          Before you get started, we would like to get to know you a bit better.<br/>
      </p>

      @if(registrationForm.hasErrors) {
          <div class="error-box">
              <p class="error-text">The following errors occurred while processing your registration:</p>
              <ul>
              @for(error <- registrationForm.errors) {
                  <li class="error-text"><p>@error.message</p></li>
              }
              </ul>
          </div>
      }

      <div class="reg-filler"></div>

      @form(routes.Login.checkRegistration) {

          @forms.registrationForm(registrationForm)

          <input class="main-button" type="submit" value="Register" />

      }

  </div>

}