@(implicit request: play.api.mvc.RequestHeader)

<div class="profile-nav">
    <ul>
        @if(request.uri == routes.Profile.settings().url) {
            <li class="profile-nav-selected">Profile</li>
        } else {
            <li><a href="@routes.Profile.settings()">Profile</a></li>
        }

        @if(request.uri == routes.Profile.filters().url) {
            <li class="profile-nav-selected">Filters</li>
        } else {
            <li><a href="@routes.Profile.filters()">Filters</a></li>
        }
    </ul>
</div>